.AdvisorSays {
    background: white;
    color: black;
    border-radius: 3px;
    padding: 10px 20px;
    /*max-width: 495px;*/
    text-align: left;
    display: inline-block;
    max-width: 65%;
    margin-left: 75px;
    margin-bottom: 10px;
    font-size: 18px;
    align-self: baseline;

}
.AdvisorSays .loading{
    width: 76px;
}
